<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,237}</string>
                <key>spriteSourceSize</key>
                <string>{294,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-noper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,141}</string>
                <key>spriteSourceSize</key>
                <string>{294,141}</string>
                <key>textureRect</key>
                <string>{{1,240},{294,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,196}</string>
                <key>spriteSourceSize</key>
                <string>{69,196}</string>
                <key>textureRect</key>
                <string>{{297,238},{69,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>travel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,235}</string>
                <key>spriteSourceSize</key>
                <string>{69,235}</string>
                <key>textureRect</key>
                <string>{{297,1},{69,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{367,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441c184d1f1c5b69e1668cc6ee160260:3ae725e0d948467b61ce220161679fc9:8515f24a45383d6b4899a9e5fc8d6fdf$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
